.home-page {
  padding-top: 2.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.home-page h2 {
  margin-bottom: 2.5rem;
  color: #333333;
  font-size: 2rem;
  font-weight: 700;
}

.sections {
  display: flex;
  justify-content: space-around;
  padding: 0 9.375rem;
}

.section {
  background-color: #ffffff;
  border: 0.3125rem solid #efefef;
  border-radius: 12.5rem;
  padding: 6.25rem 7.5rem;
  margin: 1rem;
  width: 30%;
  color: #333333;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.section:hover {
  transform: translateY(-0.25rem);
}

.section h3 {
  margin-bottom: 0.625rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.section p {
  font-size: 1.125rem;
  line-height: 1.5;
}